<!DOCTYPE html>
<html>
  <head>
    <title>TesteProgramacao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav bg-dark">
      <li class="nav-item">
        <%= link_to("Importar dados de venda", new_purchase_batch_path, {class: "nav-link text-light"})%>
      </li>
      <li class="nav-item">
      <%= link_to("Visualizar vendas", purchase_batches_path, {class: "nav-link text-light"})%>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>
